.card {
  width: 235px;
  padding: 2px;
  border-radius: 8px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 194px;
  height: 300px;
}

.icon-button-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  opacity: 0.8;
}

.card-title {
  text-align: left;
  margin-left: 0;
  margin-bottom: 15px;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 5px;
}

.rating {
  color: #ffc107;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.star-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  color: #ffc107;
}

.star-button:hover .star-icon {
  color: #ffc107;
}

.star-button:focus {
  outline: none;
}

.card-button {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #ffc107;
}

.card-button:last-child {
  margin-bottom: 0;
}
