.form-login {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.logo-container{
    margin-bottom: 30px;
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo-container img {
    width: 150px;
    margin-bottom: 15px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.login-container a {
    color: #0073bb;
    text-decoration: none;
    font-size: 14px;
}

.login-container button {
    background-color: #f5c518;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
}

.login-container button:hover {
    background-color: #e6b800;
}

.login-container .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.login-container .checkbox-container input {
    margin-right: 5px;
}

.login-container .create-account {
    margin-top: 20px;
    font-size: 14px;
}