.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination .page-item {
    margin: 0 5px;
    cursor: pointer;
}

.pagination .page-link {
    border: none;
    padding: 5px 12px;
    font-size: 16px;
    color: #007bff;
    background-color: transparent;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:focus, .pagination .page-link:hover {
    background-color: #e2e6ea;
    color: #0056b3;
    outline: none;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border: none;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
}