.search-page {
  width: 100%;
  background-color: #121212;
  height: 100vh;
  overflow-y: auto; /* Add this rule to enable vertical scrolling */
  padding: 20px; /* Add some padding to create space between the grid and the container */
}

.no-result-search {
  color: white;
}

.result-search {
  justify-content: flex-start;
}

.result-search h3 {
  border-left: 4px solid rgb(226, 182, 22);
  padding: 0 10px;
  margin: 20px 0px;
}

.result-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.result-h2 {
  margin: 0;
  padding: 0;
  margin-left: 0;
}

.actor-search {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 15px;
  max-width: 100%;
}
