.search-page {
  width: 100%;
  background-color: #121212;
  height: 100vh;
  overflow-y: auto; /* Add this rule to enable vertical scrolling */
  padding: 20px; /* Add some padding to create space between the grid and the container */
}
