/* UserProfile.css */

.user-profile-container {
    width: 100%; /* Chiều rộng 100% */
    height: 100%; /* Chiều cao 100% */
    min-height: 100vh; /* Chiều cao tối thiểu là 100% chiều cao viewport */
    padding: 20px; /* Padding bên trong */
    margin: 0; /* Không có margin */
    background-color: #000; /* Nền đen */
    color: #fff; /* Văn bản trắng */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
    overflow: hidden;
    position: relative;
}

.user-profile-title {
    text-align: center;
    color: #FFD700; /* Tiêu đề màu vàng */
}

.user-profile-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
}

.user-profile-info, .user-profile-watchlist {
    flex: 1;
    background-color: #222; /* Nền xám tối cho các khối */
    padding: 15px;
    border-radius: 5px; /* Bo góc cho các khối */
}

.user-profile-watchlist {
    margin-right: 0; /* Không có khoảng cách bên phải cho khối cuối */
    background-color: #121212;

    padding: 15px; /* Padding cho watchlist */
    border-radius: 5px; /* Bo góc cho watchlist */
    width: 80%; /* Chiều rộng 80% */
}

.user-profile-info-title {
    color: #FFD700; /* Tiêu đề màu vàng trong user info */
}

.user-profile-info{
    padding-top: 44px;
}

.footer-user-profile {
    bottom: 0; /* Đặt dưới cùng màn hình */
    width: 100%; /* Chiều rộng 100% */
    background-color: #f0f0f0; /* Nền màu xám */
}

.user-profile-watchlist-content{
    padding-bottom: 40px;
}

.user-profile-edit-button,.user-profile-update-button {
    background-color: #FFD700; /* Nền vàng cho nút chỉnh sửa */
    color: #000; /* Văn bản đen */
    border-radius:5px ; /* Không viền */
    padding: 10px 20px; /* Padding cho nút */
    cursor: pointer; /* Con trỏ chuột khi hover */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.user-profile-edit-button,.user-profile-update-button:hover {
    background-color: #FFC107; /* Màu vàng đậm hơn khi hover */
}

.user-profile-input {
    margin-top: 19px;
    border: 1px solid #FFD700; /* Viền vàng */
    background-color: #333; /* Nền input màu xám tối */
    color: #fff; /* Văn bản trắng */
    padding: 10px; /* Padding cho input */
    width: 100%; /* Chiều rộng 100% */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
}

.user-profile-error {
    color: red; /* Màu đỏ cho thông báo lỗi */
}


.user-profile-edit-form input {
    margin-bottom: 15px; /* Tạo khoảng cách dưới cho các input */
}

.user-profile-edit-form button {
    margin-top: 10px; /* Tạo khoảng cách trên cho nút */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .user-profile-content {
        flex-direction: column; /* Đặt hướng theo cột trên màn hình nhỏ */
    }

    .user-profile-info {
        margin-right: 0; /* Xóa khoảng cách bên phải */
        margin-bottom: 20px; /* Thêm khoảng cách dưới */
    }
}