/* PopularMovie.css */
.movie-container {
  padding: 20px;
  background-color: #121212;
}

body {
  background-color: #121212;

}

.movie-container h2 {
  margin: 30px 0px;
  margin-top: 60px;
  margin-left: 90px;
}

.movie-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}


.movies-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.movie-card {
  width: 100%;
}

.total-movies {
  text-align: right;
  color: aliceblue;
}

.control-panel {
    display: flex;
    align-items: center;
}

.control-panel select {
background-color: #1d1c1c;
color: aliceblue;
}

.control-panel select {
  padding: 5px;
  font-size: 1rem;}